{% extends 'site/base.html.twig' %}

{% set page_title = 'O projektu' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}


    <h2 class="h4" id="contact">Kontakt</h2>

{% endblock %}
