{% extends 'site/base.html.twig' %}

{% set page_title = 'O projektu' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <p>
        Tento projekt má za cíl nabídnout detailní statistické údaje o&nbsp;rozhodčích a delegátech
        <a href="https://www.fotbalpraha.cz" target="_blank" rel="noopener" aria-describedby="new-window"
        >Pražského fotbalového svazu{{ include('icon/new_window.html.twig') }}</a>.
        Portál pracuje s&nbsp;daty ze zápasů Pražského přeboru a 1.A&nbsp;tříd, a to od sezóny 2015/2016.
        Na stránkách lze nalézt jak statistické přehledy dle soutěží a sezón, tak i profily jednotlivých rozhodčích a delegátů.
    </p>
    <p>
        Sekce <a href="{{ path('for_officials') }}">Pro&nbsp;rozhodčí</a> poskytuje především začínajícím sudím užitečné
        informace a studijní materiály pro jejich další vzdělávání.
    </p>
    <p>
        Projekt je vytvářen na základě veřejně dostupných údajů
        z&nbsp;<a href="https://is.fotbal.cz" target="_blank" rel="noopener" aria-describedby="new-window"
        >Informačního systému Fotbalové asociace České&nbsp;republiky{{ include('icon/new_window.html.twig') }}</a>.
    </p>

    <hr class="ml-0 my-4">

    <h2 class="h4" id="kontakt">Kontakt</h2>
    <p>
        Máte-li jakékoliv dotazy, podněty, nápady nebo připomínky, budeme rádi pokud nám napíšete.
    </p>
    E-mail: <a href="mailto:admin@rozhodci.eu">admin@rozhodci.eu</a>

    <hr class="ml-0 my-4">

    <p class="text-muted">
        <small>
            Na základě platnosti obecného nařízení Evropského parlamentu a Rady&nbsp;EU&nbsp;2016/679 o&nbsp;ochraně fyzických osob v&nbsp;souvislosti
            se zpracováním osobních údajů&nbsp;– General Data Protection Regulation neboli GDPR&nbsp;– je možnost osobní data jednotlivých
            rozhodčích a osob vyskytujících se ve statistikách na žádost obratem vymazat a&nbsp;v&nbsp;případě potřeby poskytnout veškeré
            detailní informace o&nbsp;shromažďovaných datech o&nbsp;dané osobě. V takovém případě se na nás obraťte pomocí kontaktních údajů uvedených výše.
        </small>
    </p>

{% endblock %}
