{% extends 'site/base.html.twig' %}

{% block main %}

    <p>
        Vítejte na stránkách projektu <b>Rozhodčí PFS</b>, který poskytuje detailní statistiky
        o&nbsp;rozhodčích a delegátech Pražského fotbalového svazu působících v soutěžích Přeboru a 1.A třídy.
        Bližší informace nalezenete na stránce <a href="{{ path('about') }}">O projektu</a>.
    </p>

    <h2 class="h4 font-weight-bold pt-4 mb-3">Novinky</h2>

    {{ include('site/_posts.html.twig') }}

    {% if posts|length > 4 %}
        <div class="text-right">
            <a href="{{ path('old_posts') }}" class="font-weight-bold">Starší novinky »</a>
        </div>
    {% endif %}

{% endblock %}
