{% extends 'site/base.html.twig' %}

{% set page_title = 'Rozhodčí' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <ul class="list-group list-group-flush">
        {% for official in officials %}
            <li>
                <a href="{{ path('official_profile', {'id': official.id}) }}" class="list-group-item">
                    {{ official.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
