{% extends 'site/base.html.twig' %}

{% block css %}{{ encore_entry_link_tags('site_post') }}{% endblock %}

{% set page_title = post.title %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <div class="text-muted mb-4">
        {{ post.published|date("j. n. Y") }}
    </div>

    {{ post.contentsHtml|markdown }}

{% endblock %}
