{% extends 'site/base.html.twig' %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset('styles/site/post.css') }}">{% endblock %}

{% set page_title = post.title %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <div class="text-muted mb-4">
        {{ post.published|date("j. n. Y") }}
    </div>

    {{ post.contentsHtml|markdown }}

{% endblock %}
