body {
    background-color: lightgrey;
    background-image: url("../../../public/images/site/background_pattern.svg");
}
@media (min-width: 576px) {
    body {
        padding-bottom: 5rem;
    }
}

div.container-main {
    background-color: whitesmoke;
    padding-bottom: 4rem;
    min-height: 85vh;
}

div.container-main > * {
    max-width: 40em;
}

div.container-main > .full-width {
    max-width: 100%;
}

/* better menu links visibility */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.65);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.85);
}

/* brand link hover */
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.85);
}
/* brand image like brand link */
.navbar-dark .navbar-brand:hover img, .navbar-dark .navbar-brand:focus img {
    -webkit-filter: invert(15%);
    filter: invert(15%);
}

/* fix for dropdown links */
.navbar-dark .navbar-nav .show > .nav-link {
    color: #fff;
}

/* menu dividers */
.my-nav-divider {
    width: 0;
    margin: 0 0.5rem;
    overflow: hidden;
    border-left: 1px solid #96989a;
}
/* color fix */
.dropdown-divider {
    border-top: 1px solid #78797b;
}

.stats-subheading {
    border-bottom: 1px solid #ccc;
    color: #454A51;
}

.pie-chart, .line-chart {
    height: 24em;
}

a[data-toggle="collapse"] *:before {
    content: "\25BE";
}
a[data-toggle="collapse"].collapsed *:before {
    content: "\25B8";
}

.jumbotron {
    padding: 2rem 1rem;
    border-radius: 0.2rem;
    background-color: #E2E4E6;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 3rem 2rem;
    }
}

/* table with list of posts */
.table.table-posts td {
    border-top: none;
}
.table.table-posts tr:nth-child(2n+1) {
    border-top: 1px solid #dee2e6;
}
.table.table-posts tr:nth-child(2n) td {
    padding-top: 0;
    padding-bottom: 2em;
}

.pl-2_5 {
    padding-left: 0.75rem !important;
}

.lst-disc {
    list-style-type: disc;
}

.lst-none {
    list-style-type: none;
}

.reset {
    font-weight: 400 !important;
    font-size: 1rem;
    line-height: 1.5;
}
