@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body {
    background-color: lightgrey;
    background-image: url("../../../public/images/site/background_pattern.svg");
}
@include media-breakpoint-up(sm) {
    body {
        padding-bottom: 5rem;
    }
}

div.container-main {
    background-color: #f8f8f8;
    padding-bottom: 4rem;
    min-height: 85vh;
}

div.container-main > * {
    max-width: 40em;
}

div.container-main > .full-width {
    max-width: 100%;
}

/* menu dividers */
.my-nav-divider {
    width: 0;
    margin: 0 0.5rem;
    overflow: hidden;
    border-left: 1px solid #96989a;
}
/* color fix */
.dropdown-divider {
    border-top: 1px solid #78797b;
}

.stats-subheading {
    border-bottom: 1px solid #ccc;
    color: #454A51;
}

.pie-chart,
.line-chart {
    height: 24em;
}

a[data-toggle="collapse"] *:before {
    content: "\25BE";
}
a[data-toggle="collapse"].collapsed *:before {
    content: "\25B8";
}

/* table with list of posts */
.table.table-posts td {
    border-top: none;
}
.table.table-posts tr:nth-child(2n+1) {
    border-top: 1px solid #dee2e6;
}
.table.table-posts tr:nth-child(2n) td {
    padding-top: 0;
    padding-bottom: 2em;
}

.pl-2_5 {
    padding-left: 0.75rem !important;
}

.lst-disc {
    list-style-type: disc;
}

.lst-none {
    list-style-type: none;
}

.reset {
    font-weight: 400 !important;
    font-size: 1rem;
    line-height: 1.5;
}
