{% extends 'site/season_stats/base.html.twig' %}

{% set statTableClass = 'stat-table' %}

{% block title %}Zápasy jako asistent rozhodčího celkem{% endblock %}

{% block head %}
    <th scope="col">Rozhodčí</th>
    <th scope="col">Počet</th>
{% endblock %}

{% block body %}
    {% for stat in stats.Ar1AndAr2Matches %}
        <tr>
            <td>{{ stat.name }}</td>
            <td>{{ stat.number_of_matches }}</td>
        </tr>
    {% endfor %}
{% endblock %}
