<h2 class="h4">Zápasy v roli Asistent rozhodčího 2</h2>
<div class="table-responsive mb-5">
    <table class="table table-sm table-striped stat-table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Rozhodčí</th>
            <th scope="col">Počet</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in stats.Ar2Matches %}
            <tr>
                <td>{{ stat.name }}</td>
                <td>{{ stat.number_of_matches }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
