{% extends 'site/season_stats/base.html.twig' %}

{% set statTableClass = 'stat-table-3cols' %}

{% block div_id 'AssessorTeam' %}

{% block title %}Zápasy delegáta s konkrétním týmem{% endblock %}

{% block head %}
    <th scope="col">Delegát</th>
    <th scope="col">Tým</th>
    <th scope="col">Počet</th>
{% endblock %}

{% block body %}
    {% for stat in stats.AssessorTeam %}
        <tr>
            <td>{{ stat.assessor_name }}</td>
            <td>{{ stat.team_name }}</td>
            <td>{{ stat.number_of_matches }}</td>
        </tr>
    {% endfor %}
{% endblock %}
