{% extends 'site/season_stats/base.html.twig' %}

{% set statTableClass = 'stat-table-3cols' %}

{% block title %}Zápasy dvojice rozhodčích bez ohledu na roli{% endblock %}

{% block head %}
    <th scope="col">Rozhodčí</th>
    <th scope="col">Rozhodčí</th>
    <th scope="col">Počet</th>
{% endblock %}

{% block body %}
    {% for stat in stats.OfficialOfficial %}
        <tr>
            <td>{{ stat.official1_name }}</td>
            <td>{{ stat.official2_name }}</td>
            <td>{{ stat.number_of_matches }}</td>
        </tr>
    {% endfor %}
{% endblock %}
