<h2 class="h4">Minuta, ve které je průměrně udělena první žlutá karta</h2>
<div class="table-responsive mb-5">
    <table class="table table-sm table-striped stat-table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Rozhodčí</th>
            <th scope="col">Minuta</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in stats.RefereeYellowFirst %}
            <tr>
                <td>{{ stat.name }}</td>
                <td>{{ stat.first_avg_min|number_format(1) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
