{% extends 'site/season_stats/base.html.twig' %}

{% set statTableClass = 'stat-table' %}

{% block title %}Minuta, ve které je průměrně udělena první žlutá karta{% endblock %}

{% block head %}
    <th scope="col">Rozhodčí</th>
    <th scope="col">Minuta</th>
{% endblock %}

{% block body %}
    {% for stat in stats.RefereeYellowFirst %}
        <tr>
            <td>{{ stat.name }}</td>
            <td>{{ stat.first_avg_min|number_format(1) }}</td>
        </tr>
    {% endfor %}
{% endblock %}
