/* form formatting */
div[class='col-sm-2'] {
    max-width: 0;
    padding: 0;
}
div#form > div > div[class='col-sm-10'] {
    max-width:100%;
    flex: 0 0 100%;
}
div#form_nominationLists > div > div[class='col-sm-10'] {
    max-width:100%;
    flex: 0 0 100%;
}
