body {
    padding-bottom: 3.125rem;
    font-family: Verdana, Helvetica, Sans-Serif;
}

p, ul {
    max-width: 40em;
}

ul {
    list-style-type: none;
}

/* better menu links visibility */
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 1);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.8);
}

/* fix for dropdown links */
.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

/* account image like other menu links */
.navbar-light .navbar-nav .nav-link img {
    -webkit-filter: invert(45%);
    filter: invert(45%);
}
.navbar-light .navbar-nav .nav-link:hover img, .navbar-dark .navbar-nav .nav-link:focus img {
    -webkit-filter: invert(20%);
    filter: invert(20%);
}
.navbar-light .navbar-nav .show > .nav-link img {
    -webkit-filter: invert(10%);
    filter: invert(10%);
}

/* bigger dropdown arrow */
.dropdown-toggle::after {
    vertical-align: middle;
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
}

/* less rounded corners */
.dropdown-menu {
    border-radius: 0.2rem;
}

/* darker dropdown items background */
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #f2f2f3;
}
/* fix */
.dropdown-item.active, .dropdown-item:active {
    background-color: #007bff;
}

.modal-body {
    font-size: 1.2em;
}
