form {
    max-width: 40em;
    margin-bottom: 4rem;
}

legend, label:not(.form-check-label) {
    font-weight: bold;
}

/* space between red cards */
div#game_redCards > div.form-group.row:not(:nth-last-child(-n+2)) {
    margin-bottom: 3rem;
}

.btn-save-game {
    width: 10em;
}
