form:not(.post) {
    max-width: 40em;
}

legend, label:not(.form-check-label) {
    font-weight: bold;
}

form.post textarea {
    height: 50vh;
}

/* space between red cards */
div#game_redCards > div.form-group.row:not(:nth-last-child(-n+2)) {
    margin-bottom: 3rem;
}
/* space between red cards in add punishments page*/
div#game_punishments_redCards > div.form-group.row:not(:nth-last-child(-n+2)) {
    margin-bottom: 3rem;
}

.btn-save {
    width: 8em;
}
.btn-save-game {
    width: 10em;
}
