<!-- Button trigger modal -->
<a href="" role="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteConfirm{{ post.id }}">
    Smazat
</a>

<!-- Modal -->
<div class="modal fade" id="deleteConfirm{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                Opravdu chcete novinku smazat?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                <form action="{{ path('delete_post', {id: post.id}) }}" method="POST">
                    <input type="hidden" name="token" value="{{ csrf_token('post_delete') }}" />
                    <button type="submit" class="btn btn-danger">
                        Ano, smazat
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
