{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/add_game_form.css') }}">{% endblock %}

{% block title %}Rozhodčí PFS - Přidat zápas{% endblock %}

{% block heading %}Přidat zápas{% endblock %}

{% block main %}
    <p>
        Překontrolujte, prosím, data ve formuláři a poté je uložte do systému.
    </p>
    <p>
        (Pro sezónu uveďte rok, kdy začala. Např. pro sezónu 2019/20 vložte 2019.)
    </p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn-custom" value="Uložit zápas"/>
    {{ form_end(form) }}

{% endblock %}
