{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/form.css') }}">{% endblock %}

{% block title %}Rozhodčí PFS - Editace novinky{% endblock %}

{% block heading %}Editace novinky{% endblock %}

{% block main %}

    <p>
        Pro nastylování příspěvku, vložení odkazů, seznamů apod. použijte
        <a href="https://cs.wikipedia.org/wiki/Markdown#P%C5%99%C3%ADklad_u%C5%BEit%C3%AD" target="_blank">Markdown</a>.
    </p>

    {{ form_start(form, { 'attr': { 'class': 'post' } }) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-save" value="Publikovat"/>
    {{ form_end(form) }}

{% endblock %}
