/* form formatting */
div[class='col-sm-2'] {
    max-width: 0;
    padding: 0;
}

div#officials_add_nomination_list > div > div[class='col-sm-10'],
div#officials_add_nomination_list_nominationLists > div > div[class='col-sm-10'],
div#official_edit_nomination_lists > div > div[class='col-sm-10'],
div#official_edit_nomination_lists_nominationLists > div > div[class='col-sm-10'] {
    max-width: 100%;
    flex: 0 0 100%;
}

/* form formatting - dividers */
div#officials_add_nomination_list_nominationLists > div.form-group.row, /* add */
div#official_edit_nomination_lists_nominationLists > div.form-group.row /* edit */ {
    border-top: solid black 1px;
    padding-top: 2rem;
}
