p, ul, .text-width {
    max-width: 40em;
}

/* better menu links visibility */
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 1);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.85);
}

/* fix for dropdown links */
.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

/* account image like other menu links */
.navbar-light .navbar-nav .nav-link img {
    -webkit-filter: invert(45%);
    filter: invert(45%);
}
.navbar-light .navbar-nav .nav-link:hover img, .navbar-dark .navbar-nav .nav-link:focus img {
    -webkit-filter: invert(20%);
    filter: invert(20%);
}
.navbar-light .navbar-nav .show > .nav-link img {
    -webkit-filter: invert(10%);
    filter: invert(10%);
}

.modal-body {
    font-size: 1.2em;
}
