{% extends 'admin/base.html.twig' %}

{% block title %}Rozhodčí PFS - Delegáti{% endblock %}

{% block heading %}Delegáti{% endblock %}

{% block main %}

    <p>
        U&nbsp;delegáta lze změnit jméno, které může být jiné než je uváděno v&nbsp;oficiálních zápisech a přesto bude vše funkční,
        změní se pouze údaj zobrazovaný pro návštěvníky webu. Pokud se některý delegát na základě GDPR rozhodl
        své jméno na webu skrýt, můžete mu ho změnit na Vámi zvolený údaj.
    </p>

    <a href="{{ path('create_assessor') }}" role="button" class="btn btn-primary mb-3">+ Přidat nového delegáta</a>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Příjmení a jméno</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for assessor in assessors %}
            <tr>
                <td class="align-middle">{{ assessor.name }}</td>
                <td class="text-right">
                    <a href="{{ path('edit_assessor', {'id': assessor.id}) }}" role="button" class="btn btn-sm btn-primary">
                        Editovat
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
