{% extends 'admin/base.html.twig' %}

{% set page_title = 'Týmy' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <a href="{{ path('create_team') }}" role="button" class="btn btn-primary mb-4">+ Přidat nový tým</a>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Celý název</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td class="align-middle">{{ team.fullName }}</td>
                <td class="text-right">
                    <a href="{{ path('edit_team', {'id': team.id}) }}" role="button" class="btn btn-sm btn-primary">
                        Editovat
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
