<div class="mb-4">
    <a data-toggle="collapse" href="#red_offence_chart" aria-expanded="false" aria-controls="red_offence_chart">
        <h3 class="h5"> Důvody udělení červené karty</h3>
    </a>
    <div id="red_offence_chart" class="pie-chart collapse show"></div>
</div>
