<div class="mb-4">
    <a data-toggle="collapse" href="#cards_minutes_chart" aria-expanded="false" aria-controls="cards_minutes_chart">
        <h3 class="h5"> Rozložení udělených karet dle minut</h3>
    </a>
    <div id="cards_minutes_chart" class="line-chart collapse show"></div>
</div>
