{% for key, stat in stats[stat_key] %}
    {% set seasonEndYear = (key+1)|slice(2, 2) %}
    <tr>
        <td>{{ key }}/{{ seasonEndYear }}</td>
        {% for league in leagues %}
            <td>{% if stat[league] is defined %}{{ stat[league] }}{% endif %}</td>
        {% endfor %}
        <td class="font-weight-bold">{{ stat.total }}</td>
    </tr>
{% endfor %}
